.git
.gitignore
.svn
tests/
tmp/

# Data Files
*.zip
*.EOF
*.nc
*.tif
*.xml
*.wbd.json
*.hdr
*.vrt
*.cpt
*.wbd
*.geo
*.html
*.json
*.rdr
*.off
*.full
*.int
*.cor
*.slc
*.wgs84
*.hgt
*_groups.json
*.nc.md5
*.png
*.dataset.json
*.txt
*.txt
*.xrd
*.xsd
*.bak
*.dem
*.safe
*.int
*.amp
*.isce
*.los
*.phsig
*.unw
*.ion
*.lat
*.float
*.geojson
*.sim
*.lon
*.conncomp
*.wgs84
**/PICKLE/

# Log files
*.log
*isce.log*