# OS Files
**/.DS_Store
**/.DS_Store?

# vscode
.vscode

# .pyenv files
.python-version

# pytest files
.pytest_cache/

# Jupyter files
*.ipynb_checkpoints

# Python build files
build/

# Setuptools distribution folder.
/dist/

# Rope Files
.ropeproject/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Ignore env files
.env
.netrc

# Ignore the following Directories
tmp/

# configure files
conf/settings.conf

# Data Files
*.zip
*.EOF
*.nc
*.tif
*.xml
*.wbd.json
*.hdr
*.vrt
*.cpt
*.wbd
*.geo
*.html
*.rdr
*.off
*.full
*.int
*.cor
*.slc
*.wgs84
*.hgt
*_groups.json
*.nc.md5
*.png
*.dataset.json
*.xrd
*.xsd
*.bak
*.dem
*.safe
*.int
*.amp
*.isce
*.los
*.phsig
*.unw
*.ion
*.lat
*.float
*.sim
*.lon
*.conncomp
*.wgs84
*.TGZ
**/PICKLE/
**/aux_cal/

# Log files
*.log
*isce.log*

# Include template directory
!isce2_topsapp/templates/topsapp_template.xml
!isce2_topsapp/templates/topsapp_iono_template.xml


# Tests
tests/*.ipynb
tests/out/*.ipynb
!tests/localize-data.ipynb
/isce2_topsapp.egg-info/
!tests/prepare-for-delivery.ipynb
!tests/solid_earth_tides.ipynb

# Jsons in Test Directory
tests/**/*.json
!tests/sample_loc_metadata.json
!tests/midnight_crossing_metadata.json
!tests/set_test_data/S1-GUNW-A-R-064-tops-20210723_20210711-015000-00119W_00033N-PP-6267-v2_0_6.nc
!tests/set_test_data/reference/IW1.xml
!tests/set_test_data/reference/IW2.xml
!tests/set_test_data/reference/IW3.xml
!tests/set_test_data/secondary/IW1.xml
!tests/set_test_data/secondary/IW2.xml
!tests/set_test_data/secondary/IW3.xml


# Use geojson zip file for ARIA s1 frame data
!isce2_topsapp/data/s1_gunw_frame_footprints.geojson.zip
!isce2_topsapp/data/s1_frames_latitude_aligned.geojson.zip
