# OS Files
**/.DS_Store
**/.DS_Store?

# vscode
.vscode

# .pyenv files
.python-version

# pytest files
.pytest_cache/

# Jupyter files
*.ipynb_checkpoints

# Python build files
build/

# Setuptools distribution folder.
/dist/

# Rope Files
.ropeproject/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Ignore env files
.env
.netrc

# Ignore the following Directories
tmp/

# Only Specific Test Files
!tests/localize-data.ipynb

# configure files
conf/settings.conf

# Data Files
*.zip
*.EOF
*.nc
*.tif
*.xml
*.wbd.json
*.hdr
*.vrt
*.cpt
*.wbd
*.geo
*.html
*.rdr
*.off
*.full
*.int
*.cor
*.slc
*.wgs84
*.hgt
*_groups.json
*.nc.md5
*.png
*.dataset.json
*.txt
*.txt
*.xrd
*.xsd
*.bak
*.dem
*.safe
*.int
*.amp
*.isce
*.los
*.phsig
*.unw
*.ion
*.lat
*.float
*.sim
*.lon
*.conncomp
*.wgs84
*.TGZ
**/PICKLE/

# Log files
*.log
*isce.log*

# Include template directory
!isce2_topsapp/templates/topsapp_template.xml


# Tests
tests/*.ipynb
tests/out/*.ipynb
!tests/localize-data.ipynb
/isce2_topsapp.egg-info/
